---
layout: default
title: Home
feed: /blog/atom.xml
published: 2009-01-01
---

<div class='sidebar'>
  <%= page.include 'hi-my-name-is-dan' %>
  <%= page.include 'search' %>
  <%= page.include 'links' %>
  <%= page.include 'twitter-update' %>
</div>

<ul id='navigation'>
  <li><a href='/blog/atom.xml'><img src='/images/feed-icon-14x14.png'>&nbsp;Feed</a></li>
  <li><a href='/blog/archives.html'>Archives</a></li>
</ul>

<%= page.include 'blog-post-summary' %>

