<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title><%= page.title %>: <%= page.subtitle %></title>
     <meta name="author" content="Dan Yoder" />

     <link rel="start" href="/" />

  	<% unless page.keywords.nil? %>
  	  <meta name="keywords" content="{{ page.keywords }}">
  	<% end %>
	
  	<% unless page.feed.nil? %>
    	<link rel="alternate" type="application/atom+xml" 
    	  href="{{ page.feed }}" title="Atom feed" />
  	<% end %>

     <!-- Homepage CSS -->
     <link rel="stylesheet" href="/css/screen.css" type="text/css" />

  </head>

  <body>
    <div id="page">
      
      <div id="header">
        <h1 class="site title">rocket.ly</h1>
        <p class='subtitle'>( adventures + reflections ) : technology</p>
      </div>

      <%= page.include 'sidebar' %>
      
      <div class="<%= page.rpath.split("/").join(" ") %>" 
          id="<%= page.name %>">
        <%= content %>
      </div>
  
      <div id="footer">
      </div>
    </div>

    <%# page.include 'disqus-comment-support' %>

  </body>

</html>
